
.marco-zero{
    text-decoration: dashed;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: whit;
    color: crimson;
    border: 8px solid green;
    display: inline-block;
    
}   

/*Formatação de imagens com legenda*/




