* {
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box
}

.gallery {
    text-decoration: dashed;
    color: black;
    display: flex;
    justify-content: center;
    
}   

/*Formatação de imagens com legenda*/

.gallery-img {
    display: inline-block;
    border: 8px solid greenyellow;
    border-radius: auto;
    justify-items: auto;

}






